.spin/
tally/target/*
scoreboard/target/*
highscore/target/*
reset/target/*
site/.parcel-cache/
site/dist/
site/node_modules/
log/
.DS_Store
.spin/
dump.rdb
morsel_event/
session/ruby.wasm
session/ruby/
target/
.parcel-cache/