spin_manifest_version = "1"
name = "finicky-whiskers"
version = "1.1.0"
trigger = { type = "http", base = "/" }

# Serve static files
[[component]]
id = "fileserver"
source = "components/fileserver.wasm"
files = [{ source = "site/dist", destination = "/" }]
[component.trigger]
route = "/..."
[component.build]
workdir = "site"
command = "npm run build"

# Redirect / to /index.html
[[component]]
id = "redirect-to-index"
source = "components/redirect.wasm"
environment = { DESTINATION = "/index.html" }
[component.trigger]
route = "/"
executor = { type = "wagi" }
[component.build]
workdir = "redirect"
command = "make"
watch = ["**/*.go", "go.mod"]

# Tally an individual event
[[component]]
id = "tally"
source = "components/tally.wasm"
key_value_stores = ["default"]
[component.trigger]
route = "/tally"
[component.build]
workdir = "tally"
command = "make"
watch = ["src/**/*.rs", "Cargo.toml"]

# Initialize session data
[[component]]
id = "session"
source = "components/session.wasm"
[component.trigger]
executor = { type = "wagi", argv = "${SCRIPT_NAME} -v /lib/session.rb ${SCRIPT_NAME} ${ARGS}" }
route = "/session"
[component.build]
workdir = "session"
command = "make"
watch = ["**/*.rs"]

# Get the scores for a particular game
[[component]]
id = "scoreboard"
source = "components/scoreboard.wasm"
key_value_stores = ["default"]
[component.trigger]
route = "/score"
[component.build]
workdir = "scoreboard"
command = "make"
watch = ["src/**/*.rs", "Cargo.toml"]

# Stores highscores in key/value
[[component]]
id = "highscore"
source = "components/highscore.wasm"
sqlite_databases = ["default"]
[component.trigger]
route = "/highscore"
[component.build]
workdir = "highscore"
command = "make"
watch = ["src/**/*.rs", "Cargo.toml"]

# Component to reset all state
[[component]]
id = "reset"
source = "components/reset.wasm"
allowed_http_hosts = []
key_value_stores = ["default"]
sqlite_databases = ["default"]
[component.trigger]
route = "/reset"
[component.build]
workdir = "reset"
command = "make"
watch = ["src/**/*.rs", "Cargo.toml"]