html {
    background: #F1F1F1;
}
body {
    font-family: 'Azeret Mono', monospace;
    padding: 0;
}

$green:  #56EEB8;
$black:  #031835;
$white:  #fff;
$mauve:  #B287A3;
$yellow: #F4D35E;
$gold:   #F6CA83;
$success:#629460;

$dark1:   $black;
$dark2: #1A2A60;
$dark3: #1F5080;

$light3: #368CA1;
$light2: #3998B7;
$light1: #3AD0C6;
$light0:   $green;


@keyframes tailSwish {
    0%   { rotate: 0deg; }
    25%  { rotate: -2deg; }
    27%  { rotate: -28deg; }
    30%  { rotate: -25deg; }
    36%  { rotate: -25deg; }
    50%  { rotate: -5deg; }
    75%  { rotate: 10deg; }
    78%  { rotate: 5deg; }
    98%  { rotate: 5deg; }
    100% { rotate: 0deg; }
}

@keyframes headLook {
    0%   { rotate: 0deg; }
    60%  { rotate: 0deg; }
    80%  { rotate: -12deg; }
    100% { rotate: 0deg; }
}
@keyframes bubbleFood {
    0%   {
        rotate: 0deg;
    }
    33%  {
        rotate: 2deg;
        margin-top: 1rem; 
    }
    50% {
        margin-top: 0;
    }
    67%  {
        rotate: -2deg;
        margin-top: 0.6rem;
    }
    100% {
        rotate: 0deg;
    }
}
@keyframes thots {
    0%   { 
        top: 13rem;
        left: 13rem;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 12rem;
        left: 10rem;
        opacity: 0;
     }
}
/* The typing effect */
@keyframes typing {
    0% { width: 0 }
    30% { width: 40% }
    45% { width: 40% }
    60% { width: 65% }
    65% { width: 65% }
    100% { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blinkCaret {
    0%   { opacity: 0 }
    50%  { opacity: 100% }
    100% { opacity: 0 }
}

h3 {
    color: $green;
}

html,
body,
.content,
.columns.content,
article.column,
#whiskerStage {
    height: 100%; 
    min-height: 100%;
}

.container-full,
.fullscreen {
    width: 100%;
    border-radius: 0;
    margin: 0 !important;

    .column {
        padding-top: 0;
        padding-bottom: 0;
    }
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 20%;
    background-color: rgba(100,100,100,0.72);
    text-align: left;

    p {
        margin: 1rem 1.5rem;
        font-size: 0.825rem;
        color: white;
        padding-left: 3%;
        padding-right: 3%;
        
        a {
            color: white;

            &:hover {
                color: $gold;
            }
        }
    }
}

#whiskerStage {
    padding: 1.5rem;
    position: relative;
    margin: 3rem 0 3rem;
    overflow: hidden;
    background-color: $dark3;
    background-size: cover;

    &.fullscreen {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .button {
        position: relative;
        z-index: 1100;
    }

    &:before,
    &:after,
    .modal.monitor,
    .modal.monitor:before,
    .modal.monitor:after {
        position: fixed;
        content: " ";
        z-index: 1;
    }

    &:after {
        background: url('../images/background-desk.svg') no-repeat 0 0;
        background-size: cover;
        display: block;
        opacity: 1;
        width: 100%;
        min-height: 39%;
        bottom: 0;
        left: 0;
        z-index: 1700;
    }

    nav,
    aside,
    progress,
    span.tag {
        position: absolute;
        z-index: 100;
    }

    nav {
        position: absolute;
        bottom: -10vw;
        left: 0;
        right: 0;
        z-index: 1900;
        transition: all 0.3s ease-in-out;

        .button {
            width: 17%;
            margin: 0.5%;
            padding: 2rem 0;
            min-height: 5rem;
            border-radius: 0.1rem;
            background: $gold;
            color: $dark2;
            position: relative;
            transition: background 0.1s linear;
            box-shadow: 0 9px darken($gold, 12.5%);

            &:hover {
                border-radius: 0.25rem;
                top: 1px;
                box-shadow: 0 8px darken($gold, 17.5%);
            }

            &:active {
                top: 8px;
                box-shadow: none;
                background: darken($gold, 5%);

                &.correct {
                    background: $success !important;
                }
            }

            &:first-of-type {
                margin-left: 2%;
            }
            &:last-of-type {
                margin-right: 2%;
            }

            em {
                position: relative;
                display: inline-block;
                padding-right: 1.25rem;
                margin-top: 0.5vw;

                img {
                    max-width: 4vw;
                    max-height: 3.333vw;
                }
            }
        }
    }

    &.gametime {
        progress,
        .tag.game-time {
            top: 0vw !important;

        }
        nav {
            bottom: 1.2vw !important;
        }
        .cat-bubble {
            display: block !important;
        }
    }

    &.waiting {
        progress,
        .tag.game-time {
            top: -12vw;

        }
        nav {
            bottom: -12vw;
        }

        .cat-bubble {
            width: 1rem;
            height: 1rem;
            top: 0;
            left: 0;
            display: none !important;
        }
    }

    progress {
        position: absolute;
        top: -12vw;
        left: 0%;
        width: 72%;
        transition: all 0.3s ease;
        border: 1rem solid $dark2;
        height: 3rem;
        border-radius: 0;
        transition: all 0.3s linear;
    }

    .tag.game-time {
        position: absolute;
        top: -12vw;
        right: 19.5%;
        font-size: 1.5rem;
        width: 8.5%;
        border-radius: 0;
        transition: all 0.3s linear;
        background-color: darken($dark2, 5%);

        img {
            width: 1.25rem;
            height: auto;
            margin: 0.67rem 1rem 0 -0.825rem;
            opacity: 0.5;
            fill: white;
        }
    }

    .modal {
        z-index: 1330 !important;
        position: absolute;
        left: 4.5%;
        top: 7.5rem;
        right: 33%;
        bottom: 30%;
        min-height: 344px;
        justify-content: flex-start;
        // background-color: $dark1;
        background: 
            linear-gradient(to left, $dark1 0%, darken($dark2, 5%) 100%);
        border: 0.7rem solid $light2;
        overflow: visible !important;
        box-shadow: -0.5rem 0.5rem 0 0rem darken($light3, 10%);

        &.monitor-placeholder {
            display: block !important;
        }

        &:before {
            background: url('../images/foreground-light.svg') no-repeat left bottom;
            background-size: contain;
            display: block;
            bottom: 18%;
            min-width: 55%;
            left: -3%;
            top: 6%;
            z-index: 1650 !important;
        }

        &:after {
            background: url('../images/background-monitorbase.svg') no-repeat center bottom;
            background-size: contain;
            display: block;
            height: 18%;
            width: 466px;
            z-index: 1300 !important;
            left: 35%;
            margin-left: -15%;
            bottom: 11% !important;
            position: fixed !important;
        }

        &.monitor-placeholder .modal-content {
            align-self: flex-start;
            align-items: flex-start;
            top: 0%;
            -ms-transform: translateY(0%);
            transform: translateY(0%);
        }

        .modal-content {
            margin: 0 auto;
            max-height: auto !important;
            height: 25rem;
            width: 100%;
            align-self: center;
            display: flex;
            padding-left: 13.333%;
            background-color: transparent;
            z-index: 2020;
            overflow-x: hidden;
            -webkit-box-align: center;
            -ms-flex-align: center;
            position: absolute;
            align-items: center;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);

            .ivan {
                color: $green;
                padding-top: 3.5rem;
                display: inline-block;
                position: relative;

                span {
                    display: inline-block;
                }

                em {
                    position: absolute;
                    font-style: normal;
                    left: -1rem;
                }
            }
            
            .ivantype {
                color: $light3;
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                white-space: nowrap; /* Keeps the content on a single line */
                margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                letter-spacing: .15em; /* Adjust as needed */
                padding-left: 1rem;
                width: 1px;
                animation: typing 7s normal forwards ease-in-out;
                animation-iteration-count: 1;
                animation-delay: 9s;
                position: relative;
              }

              .prompt {
                  animation: blinkCaret 1s ease;
                  animation-iteration-count: infinite;
                  transition: opacity 1s ease-in-out;
                  width: 2px;
                  background-color: $green;
                  height: 2rem;
                  position: absolute;
                  right: 0;
              }
        }

        .box {
            z-index: 2150;
            background-color: transparent;
            padding: 3rem;
            width: 100%;
            min-height: 25rem;
            color: white;

            h1 {
                font-size: 3.5rem;
                font-weight: bold;
                line-height: 1;
                color: $green;
                text-shadow: -0.35vw 0.35vw rgba(67, 20, 57, 1);
            }

            strong {
                color: $gold;
            }

            input#yourName {
                text-transform: uppercase;
                font-size: 1rem;
                letter-spacing: 0.02em;
                color: #1A2A60;
                font-family: Azeret Mono, monospace;
            }

            .button {
                background: $light1;
                font-weight: bold;
                font-size: 1.5rem;
                padding: 1.5rem 3rem;
                margin-top: 1rem;
                font-family: Azeret Mono, monospace;

                &.is-small {
                    width: auto;
                    margin: 0 !important;
                    padding: 0.5rem !important;
                    min-height: 5rem;
                    border-radius: 0.1rem;
                    background: $gold;
                    color: $dark2;
                    min-height: 2rem;
                    font-size: 1rem !important;
                }
            }
        }
    }

    #gameFinishModal {

        .modal-content {
            height: 27rem !important;

            h1 {
                font-size: 3.5rem;
            }

            .button#gameStart {
                font-family: Azeret Mono, monospace;
                margin-top: 0.75rem;
            }

            .leaderboard {
                position: absolute;
                left: 0;
                top: 18rem;
                width: 100%;
                height: 9rem;
                padding: 2rem 5% 2rem 13.333%;
                margin-left: 3rem;

                p {
                    color: $white;

                    a {
                        color: $light2;
                    }
                }
            }

            .button.is-info {
                font-size: 0.825rem;
                padding: 1.2rem;
                background-color: $light2;
                color: $dark1;
                margin: 0;
            }

            p small {
                font-size: 0.75rem;
            }
        }
    }

    aside.score {
        width: 20%;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 1rem 2rem 2rem 2rem;
        background: url('../images/background-shelf.svg') no-repeat 0 0;
        background-size: cover;
        text-align: center;

        h2 {
            color: $gold;
            font-size: 0.75rem;
        }

        strong {
            color: $gold;
            font-size: 3rem;
            margin: -0.825rem 0.5rem 0;
            display: block;
        }
    }

    aside.highscore {
        width: 20%;
        right: 0;
        top: 0;
        bottom: 0;
        padding: 1rem 2rem 2rem 2rem;
        background: $dark2;
        text-align: center;
        z-index: 250;

        h2 {
            color: $gold;
            font-size: 1.725rem;
            padding: 1rem;
            margin: 1rem auto 2rem;
            border: 3px solid #60ACB5;
        }
        
        dl {
            dt, dd {
                width: 45%;
                display: inline-block;
                font-size: 1.25rem;
                color: white;
                margin: 0 0;
                float: left;
                vertical-align: middle;
                min-height: 3.33vh;
                text-transform: uppercase;
            }
        }
    }

    .slats-the-cat {
        position: absolute;
        bottom: -4.5%;
        right: 25%;
        width: 20rem;
        height: 30rem;
        background: url('../images/slats-torso.svg') no-repeat 0 0;
        background-size: contain;
        z-index: 1405;

        .slats-head {
            position: absolute;
            top: -8rem;
            left: -2rem;
            animation: headLook 12s linear infinite;
        }

        .slats-tail {
            position: absolute;
            top: 15rem;
            right: 5rem;
            background: url('../images/slats-tail.svg') no-repeat 0 0;
            background-size: contain;
            width: 25rem;
            min-height: 15rem;
            display: inline-block;
            position: relative;
            transform-origin: 100% 0vh;
            animation: tailSwish 12s linear infinite;
        }
    }
}

.cat-bubble {
    background: rgba(255,255,255,0.92);
    border-radius: 50%;
    width: 15rem;
    height: 12rem;
    display: none;
    position: absolute;
    z-index: 1850;
    top: -13rem;
    left: -15rem;
    transition: all 0.3s ease;
    animation: bubbleFood 5s linear infinite;
    z-index: 1111;
    text-align: center;
    padding: 2rem;

    &:before {
        width: 3rem;
        height: 3rem;
        display: block;
        border-radius: 50%;
        content: " ";
        position: absolute;
        z-index: 1850;
        top: 12rem;
        left: 10rem;
        background: rgba(255,255,255,0.92);
        transition: all 0.3s ease-in-out;
        opacity: 0.8;
        animation: thots 7s ease-in-out infinite;
    }

    &:after {
        display: block;
        content: " ";
        width: 7rem;
        height: 7rem;
        z-index: 1900;
        margin: 0 auto;
        background: red;
        position: relative;
        background: transparent;
        background-size: cover;
    }
}

.slats-head {
    background: url('../images/slats-head.svg') no-repeat 0 0;
    background-size: contain;
    width: 12rem;
    min-height: 25rem;
    display: inline-block;
    position: relative;
    z-index: 1300;

    img {
        display: none;
        position: absolute;
        top: 6.33rem;
        left:-1.25rem;
        width: 100%;
    }

    &.slats-resting {
        img.is-resting {
            display: inline-block;
        }
    }

    &.slats-blink {
        img.is-blink {
            display: inline-block !important;
        }
    }

    &.slats-eating2 {
        img.is-eating2 {
            display: inline-block !important;
        }
    }

    &.slats-eating {
        img.is-eating {
            display: inline-block;
        }
    }

    &.slats-huh {
        img.is-huh {
            display: inline-block;
        }
    }

    &.slats-grumpy {
        img.is-grumpy {
            display: inline-block;
        }
    }
}

#elements {
    position: relative;
    svg, img {
        max-width: 20vw;
        height: auto;

        h3, h4 {
            margin: 1rem 0;
            font-weight: bold;
            color: $green;
        }
    }

    ul {
        margin: 2rem 0;
    }

    li {
        padding-top: 3rem;

        .slats-head {
            padding-top: 16rem;
        }

        code {
            background: $light2;
            color: $black;
        }
    }
}

// game is activated!
.beef > .cat-bubble:after {
    background: url('../images/beef.svg') no-repeat 50% 50%;
    background-size: contain;
}

.chicken > .cat-bubble:after {
    background: url('../images/chicken.svg') no-repeat 50% 50%;
    background-size: contain;
}

.fish > .cat-bubble:after {
    background: url('../images/fish.svg') no-repeat 50% 50%;
    background-size: contain;
}

.veg > .cat-bubble:after {
    background: url('../images/veggies.svg') no-repeat 50% 50%;
    background-size: contain;
}



/* Mobile Styles */

// most normal screens: laptop, tablet etc
@media (min-aspect-ratio: 4/3) {
    #whiskerStage {

        .slats-the-cat {
            right: 0;
            bottom: -7.5vw;
        }
    }
}

// taller viewport
@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 4/3) {
    #whiskerStage {

        .slats-the-cat {
            right: 0;
            margin-right: -7vw;
            bottom: 0;
        }

        nav {

        }

        aside.score {
            min-width: 25%;
            width: auto;
            padding: 1rem 4rem 2rem;
        }
    }
}

// thin viewport
@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 1/1) {
    #whiskerStage {
        .slats-the-cat {
            right: 0;
            margin-right: -20vw;
            bottom: 0%;
        }

        &.waiting > nav {
            bottom: -50vw;
        }
    }
}

// very thin viewport
@media (max-aspect-ratio: 3/4) {
    #whiskerStage {

        &::after {
            display: none !important;
        }

        .slats-the-cat {
            right: 0;
            margin-right: -33vw;
            bottom: -14%;
        }

        aside.score {
            min-width: 20%;
            width: auto;
            padding: 1rem 4rem 2rem;
        }
        
        .modal {
            min-width: 65%;

            .box {
                padding: 1.75rem 2.5rem 1.75rem 1.5rem;
                
                h1 {
                    font-size: 7vw;
                    margin-top: 9vw;
                }

                p {
                    font-size: 3.75vw;
                }

                .button {
                    padding: 1.5rem 1rem;
                }
            }

            .modal-content {
                padding-left: 0 !important;
            }
        }

        #gameFinishModal {
            .modal-content {
                .leaderboard {
                    padding: 0 1.5rem;
                    margin-left: 0;
                }
                
                h1 {
                    font-size: 2.25rem;
                }
            }
        }

        &.waiting > nav {
            bottom: -100vw;
        }

        nav {
            bottom: 0;

            .button {
                width: 47%;
                margin: 0.67rem 1%;

                &:first-of-type,
                &:nth-child(3) {
                    margin-left: 0 !important;
                }

                &:nth-child(2),
                &:last-of-type {
                    margin-right: 0 !important;
                }
            }
        }
    }

    footer p {
        font-size: 3vw;
    }
}

@media (max-aspect-ratio: 3/4) and (max-width:400px) {
    #whiskerStage {
        .slats-the-cat {
            right: -25vw;
        }
        
        nav {
            padding-left: 6.5%;
            .button {
                width: 90%;
                margin: 0.33rem auto;
                min-height: 3rem;
            }
        }
    }
}

// ipad specific orientations
@media (min-width: 1023px) and (max-width: 1081px) and (min-height: 767px) and (max-height: 811px) and (orientation:landscape) {
    #whiskerStage {
        .slats-the-cat {
            bottom: 0;
        }
    }
}
@media (min-width: 767px) and (max-width: 811px) and (min-height: 1023px) and (max-height: 1081px) and (orientation:portrait) {
    #whiskerStage {
        &::after {
            bottom: -10vw;
            display: block !important;
        }

        .slats-the-cat {
            right: 8%;
            bottom: -1%;
        }

        &.waiting > nav {
            bottom: -50vw;
        }

        aside.score {
            min-width: 40%;
            width: auto;
            padding: 1rem 4rem 2rem;
        }
        
        .modal {
            min-width: 65%;

            .box {
                padding: 2.5rem 2.5rem 2.5rem 5rem;
                
                h1 {
                    font-size: 3.5rem;
                }

                .button {
                    padding: 2rem 3rem;
                    margin-top: 3.75rem;
                }
            }

            .modal-content {
                padding-left: 0 !important;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #whiskerStage > .slats-the-cat {
        right: 17.5%;
    }
}
