name: Build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v2

      - name: Install Wasm Rust target
        run: |
          rustup target add wasm32-wasi

      - name: Install wasi-vfs
        run: |
          curl -LOs https://github.com/kateinoigakukun/wasi-vfs/releases/download/v0.1.1/wasi-vfs-cli-x86_64-unknown-linux-gnu.zip
          unzip wasi-vfs-cli-x86_64-unknown-linux-gnu.zip
          mv wasi-vfs /usr/local/bin

      - name: Install tinygo
        run: |
          wget https://github.com/tinygo-org/tinygo/releases/download/v0.27.0/tinygo_0.27.0_amd64.deb
          sudo dpkg -i tinygo_0.27.0_amd64.deb

      - name: Install spin
        run: |
          curl -LOs https://github.com/fermyon/spin/releases/download/v1.4.1/spin-v1.4.1-linux-amd64.tar.gz
          tar zxvf spin-v1.4.1-linux-amd64.tar.gz
          mv spin /usr/local/bin

      - name: Build
        env:
          ENABLE_WASM_OPT: false
        run: |
          make build

      - name: Test site
        env:
          TIMEOUT: 1m
        run: |
          make test-server
