name: Deploy Website

on:
  push:
    branches:
      - 'main'

  workflow_dispatch:

# Construct a concurrency group to be shared across workflow runs.
# The default behavior ensures that only one is running at a time, with
# all others queuing and thus not interrupting runs that are in-flight.
concurrency: ${{ github.workflow }}

permissions:
  contents: read

env:
  SPIN_VERSION: v2.7.0

jobs:
  build:
    uses: ./.github/workflows/build.yml

  deploy-www-redirect:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Spin
        uses: fermyon/actions/spin/setup@v1
        with:
          version: ${{ env.SPIN_VERSION }}

      - name: Login to Fermyon Cloud
        run: spin cloud login --token "${{ secrets.FERMYON_CLOUD_TOKEN }}"

      - name: Deploy to Fermyon Cloud
        uses: fermyon/actions/spin/deploy@v1
        with:
          manifest_file: deploy/finicky-whiskers-www-redirect/spin.toml
          fermyon_token: "${{ secrets.FERMYON_CLOUD_TOKEN }}"

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: app
          path: "${{ github.workspace }}"

      - name: Setup Spin
        uses: fermyon/actions/spin/setup@v1
        with:
          version: ${{ env.SPIN_VERSION }}

      - name: Login to Fermyon Cloud
        run: spin cloud login --token "${{ secrets.FERMYON_CLOUD_TOKEN }}"

      - name: Deploy to Fermyon Cloud
        uses: fermyon/actions/spin/deploy@v1
        with:
          run_build: false
          fermyon_token: "${{ secrets.FERMYON_CLOUD_TOKEN }}"

      - name: Run sqlite migration(s)
        run: |
          spin cloud sqlite execute -a finicky-whiskers -l default "@highscore/migration.sql"
